.bg-Eggshell {
    background-color: #FAF3DD;
}
.text-Eggshell {
   color: #FAF3DD;
}
.bg-Tea {
    background-color: #C8D5B9;
}
.text-Tea {
    color: #C8D5B9;
}
.bg-Cambridge {
    background-color: #8FC0A9;
}
.text-Cambridge {
    color: #8FC0A9;
}
.bg-coral {
    background-color: #DF928E;
}
.text-coral {
    color: #DF928E;
}


