/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF3DD;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    height: auto;
    background-color: #c8d5b9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
  }
  
  main {
    flex: 1;
  }
  
  /* Form Container Styling */
  .form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px 30px;
  
    border-radius: 10px;
 
    text-align: center;
  }
  
  /* Button Styles */
  .btn-register {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background-color: #df928e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-register:hover {
    background-color: #ad7875;
  }
  footer {
    background-color: #c8d5b9;
    padding: 10px 0;
    text-align: center;
  }